@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'loginh1';
  src: url('../aasets/font/Merriweather-Black.ttf');
}
@font-face {
  font-family: 'loginh2';
  src: url('../aasets/font/PTF76F.ttf');
}
@font-face {
  font-family: 'loginform';
  src: url('../aasets/font/RobotoSlab-Bold.ttf');
}
@font-face {
  font-family: 'loginform1';
  src: url('../aasets/font/PlayfairDisplay-SemiBold.ttf');
}
@font-face {
  font-family: 'loginform3';
  src: url('../aasets/font/JosefinSlab-Bold.ttf');
}
@font-face {
  font-family: 'text';
  src: url('../aasets/font/Lato-BlaIta.ttf');
}
@font-face {
  font-family: 'text1';
  src: url('../aasets/font/RobotoSlab-Regular.ttf');
}
.css-1t0we78-MuiResponsiveChart-container{
  width: auto;
}
